<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true">
    <targets>
      <target xsi:type="File" name="logfile" fileName="${basedir}/logs/app.log"
              layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"
              archiveNumbering="Sequence" archiveAboveSize="1048576" maxArchiveFiles="5" />
      <target xsi:type="Console" name="console" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile,console" />
    </rules>
  </nlog>
</configuration>



